.logo-label{
    -fx-font-size: 50;
}

.enter-btn{
    -fx-background-color:transparent;
    -fx-opacity: 1;
    -fx-end-margin: 100,100,100,0;
}

.enter_select_pane{
    /*-fx-background-color: red;*/
    -fx-background-color: linear-gradient(to bottom,transparent,#DEE1E6);
}