.main-pane{
    -fx-background-image: url("../images/global_bg.png");
}

.container-pane{
    -fx-background-color: #DEDEDE;
    /*-fx-opacity: 0.1;*/
    /*-fx-background-color: rgba(23,200,230,0);*/
    -fx-background-insets: 0;
}

.home_btn{
    -fx-graphic: url("../images/home.png");
    -fx-background-color: rgba(23,200,230,0);
    -fx-background-insets: 0;
}

.chapter-box{
    -fx-start-margin: 100,100,100,100;
}

.chapter-box .toggle-button{

    -fx-background-color: rgba(23,200,230,0);
    -fx-background-insets: 0;
}

.chapter-box .toggle-button:selected{
    /*-fx-min-width: 287;*/
    /*-fx-min-height: 105;*/
    -fx-background-color: rgba(23,200,230,0);
    -fx-background-insets: 0;
}

.chapter-box .import-btn{
    -fx-graphic: url("../images/course/import.png");
}

.chapter-box .import-btn:selected{
    -fx-graphic: url("../images/course/import_selected.png");
}

.chapter-box .teach-btn{
    -fx-graphic: url("../images/course/teach.png");
}

.chapter-box .teach-btn:selected{
    -fx-graphic: url("../images/course/teach_selected.png");
}

 .chapter-box .arouse-btn{
     -fx-graphic: url("../images/course/arouse.png");
 }

.chapter-box .arouse-btn:selected{
    -fx-graphic: url("../images/course/arouse_selected.png");
}

.footer-label{
    -fx-font-size: 40;
    -fx-color:#9A9BA2;
    -fx-padding: 15;
}
