.main-pane{
    -fx-background-color: #FFFFFF;
    -fx-border-color: #E4E4E4;
}

.control-box{
    -fx-background-color: #E4E4E4;
}

.button{
    -fx-background-color: rgba(23,200,230,0);
    -fx-background-insets: 0;
}



#color-slider .track{
    -fx-background-color: transparent;
}

#color-slider .thumb{
    -fx-background-color: #FFF0FF;
}