.exit_btn{
    -fx-graphic: url("../images/exit.png");
    -fx-background-color:transparent;
    -fx-opacity: 1;
    -fx-end-margin: 100,100,100,0;
}

.home_btn{
    -fx-graphic: url("../images/home.png");
    -fx-background-color:transparent;
    -fx-opacity: 1;
    -fx-end-margin: 100,100,100,0;
}



.exit_btn:hover {
    -fx-opacity: 0.5;
}
.exit_btn:pressed {
    -fx-opacity: 0.2;
}

.module-box{
    -fx-padding: 100,20,100,20;
}

.module-box .button{
    -fx-font-size: 30;
    -fx-padding: 15;
    -fx-background-radius: 10;
}

.theme-box .imageView{
    -fx-background-opacity: 0.0;
}
.theme-box .imageView:hover{
    -fx-background-opacity: 1.0;
}