.exit_btn{
    -fx-graphic: url("../images/exit.png");
    -fx-background-color:transparent;
    -fx-opacity: 1;
    -fx-end-margin: 100,100,100,0;
}

.exit_btn:hover {
    -fx-opacity: 0.5;
}
.exit_btn:pressed {
    -fx-opacity: 0.2;
}

.module-box{
    -fx-padding: 100,20,100,20;
}

.module-box .button{
    -fx-font-size: 30;
    -fx-padding: 15;
    -fx-background-radius: 10;
}

/*.module-box .button:hover{*/
    /*-fx-border-color: red;*/
    /*-fx-border-width: 5px;*/
/*}*/
.imageView{
    -fx-border-color: red;
    -fx-border-width: 5px;
    -fx-background-radius: 10;
}
